title = "ublogGPA"
url = "/bloggpa/:page"
layout = "GPA-MANGA"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 15
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-post"
postPage = "blog-post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = "{{ não há categorias }}"
categoryPage = "post-categoria"

[searchForm]
resultPage = "blog-resultado-pesquisa"
categoryFilter = 0
==
{% set posts = blogPosts.posts %}
<br>
<div class="section-header">
    <h2 class="section-title text-center wow fadeInDown"> GPA Blog</h2>
    <p class="text-center wow fadeInDown">Confira nossas postagens, cobrimos tudo sobre mangás com a intensão de se tornar o melhor nesse nicho<br> O GPA Mangás conta com uma equipe dedicada e sempre disposta a aprender, para aumentar a qualidade das informações do seu blog</p>
</div>

<div class="container ">
    <div class="row">

        <div class=" col-sm-3 coluna-canto-post">
             
            <form class="form-inline barra-pesquisa-blogpa" method="GET" action="{{ searchForm.resultPage|page }}">
                <input type="text" name="search" class="form-control" placeholder="bucar em todos os posts">

                {% if searchForm.categoryFilter %}
                    <select name="cat[]" class="form-control">
                    {% for key,cat in searchForm.categories %}
                        <option value="{{ key }}">{{ cat }}</option>
                    {% endfor %}
                    </select>
                {% endif %}

                <button class="btn btn btn-primary" type="submit">{{ 'Search'|_ }}</button>
            </form>

        
            {% if blogCategories.categories|length > 0 %}
          
                <ul class="category-list categoria-blogpa">
                   
                    <i> {% partial blogCategories ~ "::items"
                        categories = blogCategories.categories
                        currentCategorySlug = blogCategories.currentCategorySlug%}
                    </i>

                </ul>
          
            {% else %}
                <p>No categories were found.</p>
            {% endif %}
             

        </div>

        <div class=" col-sm-9">
                {% for post in posts %}
                   <div class="blog-post blog-media wow fadeInRight bordas-list-post" data-wow-duration="300ms" data-wow-delay="100ms">
                            <article class="media clearfix">

                                <div class="entry-thumbnail pull-left">
                                    
                                    <div class="cp-thumb imagem-thumb-lateral ">
                                        <img src="{{post.featured_images|first.path}}" alt="">
                                    </div>

                                </div>

                                <div class="media-body ">

                                    <header class="entry-header espaco-post">
                                        <div class="entry-date data-post">{{ post.published_at|date('d/m/Y') }}</div>
                                        <h2 class="entry-title ">{{post.title}}</h2>
                                    </header>

                                    <div class="entry-content espaco-post texto-post-list">
                                        <p>{{ html_limit(post.excerpt, 180)|raw }}</p>
                                        <a class="btn btn-primary" href="{{ post.url }}" target="_blank">Leia Mais</a>
                                    </div>
                                        <hr class="espaco-post">
                                    <footer class="entry-meta">

                                        <span class="entry-category espaco-post"><i class="fa fa-folder-o"></i>

                                            {% if post.categories.count %}
                                                {% for category in post.categories %}
                                                    <a href="/gpa/EquipeGPA/post-categoria/{{ category.name }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                        </span>

                                    </footer>
                                </div>
                            </article>
                        </div>
                        
                {% else %}
                    <li class="no-data">{{ blogPosts.noPostsMessage}}</li>
                {% endfor %}
        </div> 
    </div>  
</div>


{% if posts.lastPage > 1 %}
    <div class="paginas-list-post">
        <ul class="pagination ">
            {% if posts.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
            {% endif %}

            {% if posts.lastPage > posts.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
    </div>    
{% endif %}