title = "Blog post"
url = "/blog/:slug"
layout = "GPA-MANGA"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[commentsPost]
==
{% set post = blogPost.post %}
<br>
<div class="container versao-mobile">
	<div class="section-header">
	    <h2 class="section-title text-center wow fadeInDown"> GPA Blog</h2>
	    <p class="text-center wow fadeInDown">Confira nossas postagens, cobrimos tudo sobre mangás com a intensão de se tornar o melhor nesse nicho<br> O GPA Mangás conta com uma equipe dedicada e sempre disposta a aprender, para aumentar a qualidade das informações do seu blog</p>
	</div>


    <div class="row titulo-post">

	<h1>{{ post.title }}</h1>

		<p class="info post-blog-header">
		    Postado
		    {% if post.categories.count %} em
		        {% for category in post.categories %}
		            <a href="/gpa/EquipeGPA/post-categoria/{{ category.name }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
		        {% endfor %}
		    {% endif %}
		    em {{ post.published_at|date('d/m/Y') }}
		</p>

		<div class="content">{{ post.content_html|raw }}</div>

	</div>


	<div class="row">
		{% set posts = commentsPost.posts %}

		<div class="col-md-6 alinhamento-texto" id="comments-content">

		    {% if(user or commentsPost.settings.allow_guest) %}

		        {% partial "commentsPost::form" %}

		    {% endif %}

		    {% if(commentsPost.count) > 0 %}
		        <h4 class="text-right"><span id="comments-count">{{ commentsPost.count }}</span> Comentários</h4>
		    {% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		    <div class="comments">
		        <ul>
		            {% partial "commentsPost::list" posts=posts %}
		        </ul>
		    </div>

		</div>
	</div>	
</div>	