title = "manga_cat"
url = "/manga_cat/:page?"
layout = "pagina_mangas"
is_hidden = 0

[filtermanga]

[builderList]
modelClass = "Pedro\Mangas\Models\Manga"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "edicao"
noRecordsMessage = "No records found"
detailsPage = "mangas-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 10
pageNumber = "{{ :page }}"
==
{% set nome = filtermanga.nome %}
{% set categories = filtermanga.categories %}
{% set detailsPage2 = builderList.detailsPage %}
{% set detailsKeyColumn2 = builderList.detailsKeyColumn %}
{% set detailsUrlParameter2 = builderList.detailsUrlParameter %}

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<div class="container-fluid pagina_produtos">

<div class="row">

<div class="col-lg-2">

<form class="genre" method="GET" action="{{ url('manga_cat') }}">
    <div>      
        <label>Categorias</label>
        <select class="form-control" name="categories">
            <option value="">Escolha uma categoria</option>
            {% for genre in categories %}
                <option value="{{genre.slug}}"><h1>{{ genre.nome_cat }}</h1></option>
            {% endfor %}
            <hr>
        </select>
    </div>
    <button type="submit" type="button" class="btn btn-primary btn-lg"> Pesquisar</button>
</form>
</div>



        <div class="col-lg-10 flex-container">

            {% for record in nome %}
           
            <a href="{{ detailsPage2|page({ (detailsUrlParameter2): attribute(record, detailsKeyColumn2) }) }}">
          <div class="thumbnail">
            <img src="{{ record.capa.thumb(150,170, {'mode':'crop'}) }}" alt="...">
            <div class="caption">
              <h3>{{ record.edicao }}</h3>
              <h4>{{ record.autor }}</h4>
            </div>
          </div>
          </a>
          {% endfor %}
          </div>
        </div>


        {% if nome.lastPage > 1 %}
    <ul class="pagination">
        {% if nome.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (nome.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..nome.lastPage %}
            <li class="{{ nome.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if nomeP.lastPage > nome.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (nome.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
      


</div>
</div>