/*BLOG GPA*/

.imagem-thumb-lateral img{
	max-height: 300px !important;
	min-height: 300px !important;
	max-width: 260px !important;
	min-width: 260px !important;
}

.imagem-thumb-superior img{
	max-height: 380px !important;
	min-height: 380px !important;
	max-width: 554px !important;
	min-width: 554px !important;
}

.btn-mais-post{
	margin-top: 50px;
	text-align: center !important;

}

.coluna-canto-post{
	margin-top: 30px;
}

.barra-pesquisa-blogpa{
	margin-bottom: 30px;
}

.list-posts-gpa-right h4{
	margin-top: 30px;
	margin-left: 10px;
}


.categoria-blogpa li {
  list-style-type: none;
  position:relative;
  margin-bottom:0.5em;
  margin-bottom: 8px;
  font-size: 17px !important;	
}

.categoria-blogpa li:before {
  content: '•';
  display: inline-block;
  position: absolute;
  left: -1em;
  color:#808080;
}

.categoria-blogpa a:hover{
	text-decoration:none;
	color:#808080;
}

.categoria-blogpa li.active>a{
	text-decoration:none;
	color:#808080;
}

.categoria-blogpa span{
	margin-left: 5px;	
}


/* BLOG PAG DE POSTS*/

.texto-post-list {
	margin-top: 15px;
}

.texto-post-list button{
	margin-top: 20px !important;
}

.espaco-post{
	margin-left: 20px !important;
	margin-right: 20px !important;

}

.data-post{
	margin-top: 10px;
}

.paginas-list-post{
	text-align: center;
}

.bordas-list-post{
	border-width: 1px;
	border-style:ridge;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 10px;
	margin-left:10px;
	height: 100%;
	width: 100%;
}

/* SLIDE HOME (GRANDAO)*/

.caixaslider{
	background-color: #ffffff;
	padding: 0px 20px 20px 20px;

}

.caixaslider h2{
	padding-top: 20px;
}

.caixaslider2{
	background-color: #a0a0a0;
	padding: 0px 20px 20px 20px;

}

.caixaslider2 h2{
	padding-top: 20px;

}

.caixaslider2 p{
	font-size: 20px !important;
}

.caixaslider2 i{
	color: #84cbff;
}

.caixaslider2 span{
	color: #84cbff !important;
}

.caixaslider3 p{
	font-size: 18px !important;
}

.caixaslider4 h2{
	padding-top: 20px;
	color: #363636 !important;

}

.caixaslider4 p{
  font-size: 20px !important;
  color:#000;
}

.caixaslider4 h4{
  color:#000;
}

/*HOME DESCRIÇÃO DA GPA*/

.textoGPA{
	text-align: center;
	font-size: 17px;
	margin-left: 20px;
	margin-right: 20px;
}

/*BLOG POST COMENTARIOS. list.htm */

.comentarios-blog-post {
	text-align: left;
	margin-bottom: 30px;
}

.comments ul {
    list-style: none;
}

.comments ul:first-child {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.comment {
    padding: 0.5em 0;
}

.comment .comment-avatar, .comment-content {
    float: left;
}

.comment-avatar {
    width: 65px;
    height: 65px;
}

.comment-content {
    margin-left: 15px;
}

#comment-text {
    height: 100px;
}

.comment-avatar img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.comment-name {
    font-weight: bold;
    font-size: 13px;
}

.comment-date {
    margin-left: 10px;
}

.comment-date, .comment-reply {
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

#cancel-comment-reply-link {
    cursor: pointer;
}

.comment-date:hover, .comment-reply:hover {
    text-decoration: none;
}

.comment-reply-title {
    border-top: 4px solid #1a1a1a;
    margin-bottom: 25px;
    font-size: 25px;
    margin-top: 25px;
    padding-top: 25px;
}

.comment-reply-title small a {
    border: 0;
    float: right;
    font-size: 30px;
    text-decoration: none;
}

.comment-reply {

}

.alinhamento-texto h4{
	text-align: left !important;
	margin-bottom: 50px;
}

.post-blog-header{

	margin-top: 12px;
	margin-bottom: 25px;
}

.titulo-post h1{
	text-align: center;
}

@media(max-width: 600px) {
	.versao-mobile{
		margin-left: 10px;
		margin-right: 10px;
	}
}	