[blogPosts]
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-post"
postPage = "blog-post"
==
 {% set post = blogPosts.posts%}
<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">GPA Blog</h2>
                <p class="text-center wow fadeInDown">Confira nossas postagens, cobrimos tudo sobre mangás com a intensão de se tornar o melhor nesse nicho<br>
                O GPA Mangás conta com uma equipe dedicada e sempre disposta a aprender, para aumentar a qualidade das informações do seu blog</p>
            </div>

            
            <div class="row">

                <div class="col-sm-6">
                   {% for post in posts | slice(0,1) %} 
                        <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                            <article>
                                <header class="entry-header">
                                    <div class="entry-thumbnail imagem-thumb-superior">

                                        <img class="img-responsive" src="{{post.featured_images|first.path}}" alt="">
                                      
                                    </div>
                                    <div class="entry-date">{{ post.published_at|date('d/m/Y') }}</div>
                                    <h2 class="entry-title">{{post.title}}</h2>
                                </header>

                                <div class="entry-content">
                                    <p>{{ html_limit(post.excerpt, 100)|raw }}</p>
                                    <a class="btn btn-primary" href="{{ post.url }}" target="_blank">Leia Mais</a>
                                </div>

                                <footer class="entry-meta">
                                    
                                    <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">
                                        
                                        {% if post.categories.count %}
                                            {% for category in post.categories %}
                                                <a href="/gpa/EquipeGPA/post-categoria/{{ category.name }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    </a></span>

                                    
                                </footer>
                            </article>
                        </div>
                    {% endfor %}   
                </div>
                
                <div class="col-sm-6">
                    {% for post in posts| slice(1,2) %}
                        <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="100ms">
                            <article class="media clearfix">

                                <div class="entry-thumbnail pull-left">
                                    
                                    <div class="cp-thumb imagem-thumb-lateral ">
                                        <img src="{{post.featured_images|first.path}}" alt="">
                                    </div>

                                </div>

                                <div class="media-body">
                                    <header class="entry-header">
                                        <div class="entry-date">{{ post.published_at|date('d/m/Y') }}</div>
                                        <h2 class="entry-title">{{post.title}}</h2>
                                    </header>

                                    <div class="entry-content ">
                                        <p>{{ html_limit(post.excerpt, 100)|raw }}</p>
                                        <a class="btn btn-primary" href="{{ post.url }}" target="_blank">Leia Mais</a>
                                    </div>

                                    <footer class="entry-meta">

                                        <span class="entry-category"><i class="fa fa-folder-o"></i>

                                            {% if post.categories.count %}
                                                {% for category in post.categories %}
                                                    <a href="/gpa/EquipeGPA/post-categoria/{{ category.name }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                        </span>

                                    </footer>
                                </div>
                            </article>
                        </div>
                    {% endfor %} 
                </div>

            <div class=" col-md-12 btn-mais-post">

                <a class="btn btn-primary " href="bloggpa/:1" target="_blank">Veja Mais Postagens</a>

            </div>
              
               
            </div>
</div>            