        <div class="owl-carousel">

            <div class="item" style="background-image: url({{ 'assets/images/slider/gpa3.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content caixaslider">
                                    <h2><span>Mangá</span></h2><h3> uma palavra usada para designar história em quadrinhos feitas no estilo japonês, mas no Japão o termo designa quaisquer histórias em quadrinhos. </h3>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->


            <div class="item" style="background-image: url({{ 'assets/images/slider/gpa4.png'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content caixaslider2">
                                    <h2> Classificação por demografia </h2><br>

                                        <p><i><b>Kodomo:</b></i> destinado a crianças.</p>
                                        <p><i><b>Shounen:</b></i> destinado a garotos adolescentes.</p>
                                        <p><i><b>Shoujo:</b></i> destinado a garotas adolescentes.</p>
                                        <p><i><b>Seinen:</b></i> destinado a homens jovens e adultos.</p>
                                        <p><i><b>Josei:</b></i> destinado a mulheres jovens e adultas</p>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->

            <div class="item" style="background-image: url({{ 'assets/images/slider/gpa9.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>Mangá Digital</span></h2><h3> Graças ao advento da internet, tem havido novas formas de aspirantes a mangakás fazerem uploads e vender seu mangá online. </h3>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->]

            <div class="item" style="background-image: url({{ 'assets/images/slider/gpa4.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content caixaslider4">
                                    <b><h2><span>Top <br> Mais vendidos</span></h2><b>
                                    <br>
                                    <p><b><i>1º</i> ONE PIECE (440 milhões)</b></p>
                                    <p><b><i>2º</i> NARUTO (295 milhões)</b></p>
                                    <p><b><i>3º</i> DRAGON BALL (240 milhões)</b></p><br>
                                    <h4><b>*vendas aproximadas até JAN/2019</b></h4>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->


             <div class="item" style="background-image: url({{ 'assets/images/slider/gpa5.png'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content caixaslider3">
                                    <h2>Modo de<span> leitura</span></h2><br>
                                    <p> Ao contrário dos “comics” os mangás são originalmente publicados com a leitura oriental, feita da direita para a esquerda. Ou seja, o que no Ocidente seria o fim da revista, no Japão é o início.</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div>
<br><br><br>        <!--/.owl-carousel-->